<h1 class="display-3 mx-auto text-center">'Burgs</h1>
<p class="lead mx-auto text-center">Eat Some Burgs, Make Some Burgs</p>

<div class="container">

    <div class="list-group">

        {{#each this.data}}
        {{#unless this.devoured}}
        <button id="devour-btn" data-id="{{this.id}}"
            class="list-group-item border-primary list-group-item-action">{{this.burger_name}}
        </button>
        {{/unless}}
        {{/each}}

    </div>

    <form class="mt-3">
        <div class="form-group">
            <label for="burgerName">New Burg Submission</label>
            <textarea class="form-control" id="burgerName" rows="3"></textarea>
        </div>
        <button type="submit" id="submit-btn" class="btn btn-primary btn-lg btn-block">Submit</button>
    </form>

    <div class="mt-5">
        <label class="display-4 mb-4" for="eatenburgers">Devoured Burgs</label>
        <ul id="eatenburgers" class="list-group list-group-flush">
            {{#each this.data}}
            {{#if this.devoured}}
            <li class="list-group-item">{{this.burger_name}}</li>
            {{/if}}
            {{/each}}
        </ul>
    </div>

    <div>
        <hr class="my-4">
        <div class="mb-3">
            <a href="https://github.com/CTMoney/burger#readme" role="button" target="_blank"><small>Github
                    Repo</small></a>
        </div>
    </div>

</div>